@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 1.15rem;
    font-family: 'Andika', sans-serif;
    background-color: #171619;
}

header {
    display: flex;
    align-items: center;
}

header #time {
    letter-spacing: -1px;
}

header #date {
    color: #dadada;
    margin-left: auto;
}

main {
    color: #dadada;
    margin: 0 auto;
    max-width: 70rem;
}

#sections {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
}

.section {
    /* height: 600px; */

    background-color: #1e1d20;

    width: 100%;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
}

ul {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: 10px;

    list-style: none;
}

a {
    color: #78b4f3;
    border-bottom: 1px solid #78b4f3;
    text-decoration: none;
}

.empty {
    background-color: #797979;
}

.section-name {
    text-align: center;
    font-weight: bold;
}

.favicon {
    padding-right: 10px;
}
