@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 1.15rem;
    font-family: 'Andika', sans-serif;
    background-color: #272b35;
}

header {
    display: flex;
    align-items: center;
}
header .time {
    letter-spacing: -1px;
}
header .date {
    color: #e5b680;
    margin-left: auto;
}

main {
    color: #e5b680;
    margin: 0 auto;
    max-width: 70rem;
}

a {
    text-decoration: none;
    color: #8c8c8b;
    border-radius: 3%;
    display: block;
    padding: 5px 15px;
    width: max-content;
    transition: 0.5s;
}

a.disabled {
    color: #5c5e61;
    pointer-events: none;
    cursor: default;
}

a:hover {
    color: #e5b680;
}

.wrapper {
    background-color: #272b35;
}

#buttonsWrapper button {
    border: none;
    border-bottom: 1px solid #dfbf9a;
    padding: 5px 18px;
    margin-top: 4px;
    color: #cecece;
    background: none;
    border-radius: 1px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

#buttonsWrapper button:hover {
    color: #232c3d;
    background-color: #dfbf9a;
}

#buttonsWrapper button.active {
    border: none;
    color: #232c3d;
    background-color: #e5b680;
}

#buttonsWrapper button:disabled {
    border: none;
    background-color: gray;
    pointer-events: none;
    cursor: default;
}

.active {
    background-color: white;
}

#contentWrapper p {
    text-align: left;
    padding: 10px;
}

.content {
    display: none;
    background-color: #272b35;
    padding: 10px 20px;
}

.content li {
    list-style-type: none;
}

.content.active {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

    animation: slide-up 500ms forwards, fade-in 800ms forwards;
}

.content.active li {
    padding: 5px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
