@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1.15rem;
  background-color: #272B35;
}

header {
  display: flex;
  align-items: center;
}
header .title {
  letter-spacing: -1px;
}
header .tagline {
  color: #E5B680;
  margin-left: auto;
}

main {
  color: #E5B680;
  margin: 0 auto;
  max-width: 40rem;
}

a {
    text-decoration: underline;
    color: #8c8c8b;
    display: block;
}

a.disabled {
    color: #5C5E61;
    pointer-events: none;
    cursor: default;
}

a:hover {
    color: #E5B680;
}

.wrapper {
    background-color: #272B35;
}

button {
    border: none;
    padding: 10px;
    background-color: none;
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #DFBF9A;
}

button.active {
    background-color: #E5B680;
}

.active {
    background-color: white;
}

#contentWrapper p {
    text-align: left;
    padding: 10px;
}

.content {
    display: none;
    background-color: #272B35;
    padding: 10px 20px;
}

.content.active {
    display: block;
}
