.ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-modal-dim-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.ModalBody {
    background-color: var(--color-modal-bg);
    border: var(--size-border-hairline) solid var(--color-border-muted);
    border-radius: var(--size-radius-modal);
    padding: var(--size-padding-lg);
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-md);
}

.ModalActions {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-md);
}
