.SectionContainer {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-sm);
    
    width: 100%;
    max-height: var(--size-section-height);
    
    background-color: var(--color-surface-base);
    padding: var(--size-padding-sm);
    border-radius: var(--size-radius-card);
}

.SectionHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
}

.SectionHeaderContainer p {
    font-weight: bold;    
}

.SectionHeaderActions {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-lg);
    align-items: center;
}

.SectionLinksContainer {
    display: flex;
    min-height: 50px;
    
    overflow-y: scroll;
    flex-direction: column;
    gap: var(--size-gap-xs);
}