.section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-sm);
    break-inside: avoid;

    width: 100%;
    margin-bottom: var(--size-gap-lg);
    padding: var(--size-padding-sm);
    border-radius: var(--size-radius-card);

    background-color: var(--color-surface-base);

    transition: box-shadow ease-in-out 0.2s;

    &:hover {
        box-shadow: 0 0 25px 4px rgb(255 255 255 / 5%);
    }
}

.section-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 48px;

    & p {
        font-weight: bold;
    }
}

.section-header-actions {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-lg);
    align-items: center;
}

.section-links-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-xs);

    min-height: 50px;
}
