.section-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-sm);
    break-inside: avoid;
    margin-bottom: var(--size-gap-lg);
    width: 100%;
    background-color: var(--color-surface-base);
    padding: var(--size-padding-sm);
    border-radius: var(--size-radius-card);
    transition: box-shadow ease-in-out 0.2s;

    &:hover {
        box-shadow: 0 0 25px 4px rgb(255 255 255 / 5%);
    }
}

.section-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
}

.section-header-container p {
    font-weight: bold;
}

.section-header-actions {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-lg);
    align-items: center;
}

.section-links-container {
    display: flex;
    min-height: 50px;
    overflow-y: scroll;
    flex-direction: column;
    gap: var(--size-gap-xs);
}
