* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
}

:root {
    --size-section-width: 350px;
    --size-section-height: var(--size-section-width);
}

body {
    font-family: "Ioskeley Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-app-fg);

    background-color: var(--color-app-bg);
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

input,
textarea {
    padding: var(--size-padding-2xs) var(--size-padding-md);
    border: var(--size-border-medium) solid var(--color-input-border);
    border-radius: var(--size-radius-input);

    color: var(--color-input-fg);

    background-color: var(--color-input-bg);
    outline: none;
}

input:hover,
textarea:hover {
    background-color: hsl(from var(--color-input-bg-hover) h s l / 20%);
}

input:focus,
textarea:focus {
    border-color: var(--color-input-border-focus);
}

input::placeholder,
textarea::placeholder {
    color: var(--color-input-placeholder);
}

.input-error {
    border-color: var(--color-input-error-border);
    color: var(--color-input-error-fg);
}

.input-warning {
    border-color: var(--color-input-warning-border);
    color: var(--color-input-warning-fg);
}

button {
    cursor: pointer;

    display: flex;
    gap: var(--size-gap-sm);
    align-items: center;
    justify-content: center;

    padding: var(--size-padding-2xs) var(--size-padding-md);
    border: none;
    border-radius: var(--size-radius-button);

    color: var(--color-button-fg);

    background-color: var(--color-button-bg);

    &:hover {
        background-color: var(--color-button-bg-hover);
    }

    &:active {
        background-color: var(--color-button-bg-active);
    }
}

.button-primary {
    cursor: pointer;

    padding: var(--size-padding-2xs) var(--size-padding-md);
    border: none;
    border-radius: var(--size-radius-button);

    color: var(--color-button-fg);

    background-color: var(--color-button-primary);

    &:hover {
        background-color: var(--color-button-primary-hover);
    }

    &:active {
        background-color: var(--color-button-primary-active);
    }
}

.button-secondary {
    cursor: pointer;

    padding: var(--size-padding-2xs) var(--size-padding-md);
    border: none;
    border-radius: var(--size-radius-button);

    color: var(--color-button-fg);

    background-color: var(--color-button-secondary);

    &:hover {
        background-color: var(--color-button-secondary-hover);
    }

    &:active {
        background-color: var(--color-button-secondary-active);
    }
}

.drag-handler {
    cursor: grab;

    padding: var(--size-padding-2xs) var(--size-padding-xs);
    border-radius: var(--size-radius-button);

    color: var(--color-button-fg);

    background-color: hsl(from var(--color-button-bg) h s l / 20%);
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-lg);
    margin: var(--size-margin-lg);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-border-divider);
}

.icon {
    cursor: pointer;
    color: var(--color-icon-muted);
}

.icon-add-plus {
    color: var(--color-icon-muted);
}

.icon-edit {
    color: var(--color-icon-muted);

    &:hover {
        color: var(--color-intent-info-bg);
    }
}

.icon-trash {
    color: var(--color-icon-muted);

    &:hover {
        color: var(--color-intent-danger-bg);
    }
}

.icon-add-section {
    width: 14px;
    height: 14px;
    color: var(--color-icon-primary);
}
