:root {
    --default-gap: var(--size-gap-md);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--default-gap);
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--default-gap);
}

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-start {
    justify-content: flex-start;
}

.align-start {
    align-items: start;
}
.align-stretch {
    align-items: stretch;
}
.align-baseline {
    align-items: baseline;
}

.gap-0 {
    gap: 0;
}

.gap-sm {
    gap: var(--size-gap-sm);
}

.gap-lg {
    gap: var(--size-gap-lg);
}

.nowrap {
    flex-wrap: nowrap;
}
