.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: var(--size-margin-sm);
    border-radius: var(--size-radius-menu);

    background-color: var(--color-surface-base);

    & p {
        font-size: 20px;
        font-weight: bold;
    }
}
