.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-base);
    border-radius: var(--size-radius-card);
    min-height: 40px;
}

.link-icon-name {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-sm);
    align-items: center;
    text-decoration: none;
    color: var(--color-text-primary);
}

.link-icon-name p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link-icon-name:hover {
    color: var(--color-accent-base);
}
