.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 40px;
    border-radius: var(--size-radius-card);

    background-color: var(--color-surface-base);
}

.link-icon-name {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-sm);
    align-items: center;

    color: var(--color-text-primary);
    text-decoration: none;

    & p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        color: var(--color-accent-base);
    }
}
