.LinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-base);
    border-radius: var(--size-radius-card);
    padding: var(--size-padding-2xs);
    min-height: 40px;
}

.LinkActions {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-lg);
}

.LinkIconName {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap-sm);
    align-items: center;
    text-decoration: none;
    color: var(--color-text-primary);
}

.LinkIconName p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LinkIconName:hover{
    color: var(--color-accent-base);
}
